.DS_Store
.Trash/
.CFUserTextEncoding
.android/
.bash_sessions/
.cache/
.cocoapods/
.config/
.cups/
.dart/
.dartServer/
.eclipse/
.flutter
.local/
.mono/
.oh-my-zsh/
.oracle_jre_usage/
.p2/
.pgadmin/
.psql_history
.pylint.d/
.ssh/
.swiftpm/
.vscode/
.zsh_sessions/
.zcompdump*
Library/
Applications/
Movies/
Music/
Pictures/
Downloads/
employee.csv
postgresql_16.app.zip
